* {
    font-family: 'Kanit', sans-serif;
}

body {
    background: #4e54c8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    padding: 0;
}

#location {
    display: block;
    border: none;
    background: rgba(255,255,255, .5);
    border-radius: 10px;
    padding: 1.5em;
    outline: none;
    color: white;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
}
#location::placeholder {
    color: rgba(255,255,255, .5);
}

#show {
    display: block;
    border: none;
    border-radius: 10px;
    padding: 1.5em;
    outline: none;
    color: white;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    margin-top: .5em;
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#show:hover {
    opacity: .9;
}
